html,body,#example{
  margin: 0;
  padding: 0;
  width:  100%;
  height: 100%;
}

body{
  background-color: #333;
  font-family: 'Arial', 'Microsoft JhengHei';
  text-align: left;
}

.form{
  position: relative;
  width:  300px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  font-size: 18px;
  padding: 20px 100px;
  line-height: 48px;
}


h1{
  margin: 0 0 20px;
  padding: 0 0 8px;
  border-bottom: 1px solid #ccc;
  color: #336;
  font-size: 32px;
}

input[type='text']{
  font-family: inherit;
  margin: 0 8px;
  padding: 4px;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid #ccc;
}
input[type='submit']{
  font-family: inherit;
  font-size: 16px;
  width:  280px;
  height: 32px;
  border: none;
  cursor: pointer;
  color: #333;
  background-color: #9cc;
}
input[type='submit']:hover{
  background-color: #9dd;
}
