.todo-input{
  text-align: center;
  input{
    width: 280px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Microsoft JhengHei';
    color: #336;
  }
}
