.todo{
  width: 320px;
  padding: 0 10px;
  font-family: 'Microsoft JhengHei';
  border-radius: 5px;
  margin: 10px auto;
  >h1{
    text-align: center;
    margin: 8px 0 12px;
    padding-bottom: 4px;
    font-size: 28px;
    font-weight: normal;
    color: #68d;
    border-bottom: 1px solid #ddd;
  }
}
